<footer class="custom-footer pt-5 pb-3">

  <div class="container">
    <div class="row">

      <!-- Column 1 -->
      <div class="col-md-3">
        <h5>Lær os at kende</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'omOs' %}">Om os</a></li>
          <li><a href="#">Fester [WIP]</a></li>
          <li><a href="#">Fortrukne Supper [WIP]</a></li>
        </ul>
      </div>

      <!-- Column 2 -->
      <div class="col-md-3">
        <h5>Vores projekter</h5>
        <ul class="list-unstyled">
          <li><a href="#">Vejledning Til Brug Af Barcelonastol</a></li>
          <li><a href="#">SPLIT - Broken</a></li>
          <li><a href="#">Plakater [WIP]</a></li>
        </ul>
      </div>

      <!-- Column 3 -->
      <div class="col-md-3">
        <h5>Hjælpsomme links</h5>
        <ul class="list-unstyled">
            <li>
                <a href="https://www.youtube.com/watch?v=Zkv3thcXHS8" target="_blank">
                    Konfliktnedtrapning
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=netQG-AM1d8" target="_blank">
                Individ der eksistere på det søfarende transportmiddel der
                </a>
            </li>
            <li>
                <a href="https://www.erdetfredag.dk/" target="_blank">
                Vigtigt viden
                </a>
            </li>
        </ul>
      </div>

      <!-- Column 4 -->
      <div class="col-md-3">
        <h5>Følg os [WIP]</h5>
        <ul class="list-unstyled d-flex gap-2">
          <li><a href="#"><i class="bi bi-twitter text-light"></i></a></li>
          <li><a href="#"><i class="bi bi-facebook text-light"></i></a></li>
          <li><a href="#"><i class="bi bi-linkedin text-light"></i></a></li>
          <li><a href="#"><i class="bi bi-youtube text-light"></i></a></li>
        </ul>
      </div>

    </div>

    <hr class="bg-light">

    <div class="text-center small">
      &copy; 2026 BlYanTeN. All rights reserved.
    </div>
  </div>

</footer>
