{% extends "base.html" %}
{% load static%}

{% block title %}BlYanTeN. - Kontakt{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center min-vh-100 py-5 text-center">

    <!-- Image above the text -->
    <img src="{% static 'blyantApp/images/kontakt/kontakt-image.jpg' %}" alt="Contact" class="img-fluid mb-4" style="max-width: 400rem;">

    <!-- Text content -->
    <h1>Kontakt</h1>
    <p>blyanten vil ikke kontaktes på nuværende tidspunkt.</p>

</div>
{% endblock %}
