{% extends "base.html" %}
{% load static %}

{% block title %}BlYanTeN. - Om os{% endblock %}
{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center  py-4 text-center">
<h1>Om os</h1>
</div>

<!-- ===============================
     Mikkel
================================= -->
<section class = "member">
    <div class="container py-5">

    <div class="row align-items-start">

        <div class="col-md-6">
            <img src="{% static 'blyantApp/images/omOs/MikkelU.jpg' %}" alt="Mikkel" class="d-block w-100 rounded">
        </div>

        <!-- Right: Text -->
        <div class="col-md-6 mt-2">
        <h2>Mikkel Nonbo</h2>
        <p class="lead">
            Alder: 15 år <br>
            Specialitet: kæderygning & vine<br><br>

            Mikkel filmer, drikker og kokkerer. Selvom man ikke skulle tro det muligt er han festens midtpunkt og arrangør på samme tid. <br><br>
            Mikkel er kameramand og arbejder på Bagland sammen med Markus og Eigil.
        </p>
        </div>
        

    </div>
    </div>
</section>


<!-- ===============================
     Markus
================================= -->

<section class = "member">
    <div class="container py-5">

    <div class="row align-items-start">

        <div class="col-md-6">
            <img src="{% static 'blyantApp/images/omOs/MarkusU.jpg' %}" alt="Markus" class="d-block w-100 rounded">
        </div>

        <div class="col-md-6">
        <h2>Markus Simonsen</h2>
        <p class="lead">
            Lokation: Berlin <br>
            Specialitet: Film, Fangst & Freundinnen<br><br>

            Om du så finder ham i vaders med fisk på krogen, oppe i baren efter en vodka maté 
            eller bag kameraet er Markus altid klar med et smil og hjælpende hånd. <br><br>

            Markus er bosat i Berlin mens han tager uddannelse som færgesejler. (tror jeg?)

        </p>
        </div>

    </div>
    </div>
</section>


<!-- ===============================
     Benjamin
================================= -->

<section class = "member">
    <div class="container py-5">

        <div class="row align-items-start">

            <!-- Left: Carousel of images -->
            <div class="col-md-6">
                <img src="{% static 'blyantApp/images/omOs/BenjaminU.jpg' %}" alt="Benjamin" class="d-block w-100 rounded">
            </div>



            <!-- Right: Text -->
            <div class="col-md-6 mt-2">
            <h2>Benjamin Jeppesen</h2>
            <p class="lead">
                Udseende: Langt sort hår, Rune Tattooveringer, kæmpe fuldskæg & 7 plugs i hvert øre.<br>
                Specialitet: Drunk driving<br><br>

                "WRaAAaAAaaHahHHHahhHHh" er nok sådan din første introduktion til Benjamin lyder. 
                Men bag growlingen finder du den sødeste ven og familiemand du længe har mødt. 
                Han er også klar på at tæve dig i Warhammer så pas på! <br><br>

                Benjamin er i England eller på tour med bandet SPLIT.

            </p>
            </div>



        </div>
    </div>
</section>



<!-- ===============================
     Eigil
================================= -->

<section class = "member">

    <div class="container py-5">

        <div class="row align-items-start">


            <!-- Left: Carousel of images -->
            <div class="col-md-6">
                <img src="{% static 'blyantApp/images/omOs/EigilU.jpg' %}" alt="Eigil" class="d-block w-100 rounded">
            </div>

            <!-- Right: Text -->
            <div class="col-md-6 mt-2">
            <h2>Eigil Hein Jespersen</h2>
            <p class="lead">
                Livsret: Hytteost med spejlæg og LA YU <br>
                Specialitet: Hyperpop connoisseur, Aarhus Ekspert & Dansemester<br><br>

                Du kan aldrig være sikker på om du finder ham i Mads Demant kasket eller dripped out berliner klub fit, 
                men han er lige sød og charmerende. Der går nok heller ikke længe før du bliver inviteret på smørrebrød
                á la Hummus, Hytteost, La Yu, spejlæg m.m. <br><br>

                Eigil spiller trommer for både Dos Santos og Holdo, 
                mens han samtidig arbejder på musik under eget navn GameStar

            </p>
            </div>

        </div>
    </div>
</section>



<!-- ===============================
     David
================================= -->

<section class = "member">
    <div class="container py-5">

        <div class="row align-items-start">



            <!-- Left: Carousel of images -->
            <div class="col-md-6">
                <img src="{% static 'blyantApp/images/omOs/DavidU.jpg' %}" alt="David" class="d-block w-100 rounded">
            </div>


            <!-- Right: Text -->
            <div class="col-md-6 mt-2">
            <h2>David Hartvig Schousboe</h2>
            <p class="lead">
                Immunforsvar: -2 <br>
                Specialitet: Trommemester, Dansk kulturarv & Måske også svensk/norsk kulturarv??? <br><br>

                Du ved der kommer gang i festen når du ser David rulle op på sin cykel. Hvadend om festen er berlinertema med fuldt PA-anlæg på 20 kvm 
                eller baghave hygge med bedsteforældrene te og kage, så er stemning bare positivt påvirket af lidt David.<br><br>

                David går på musikkonservatoriet i Trondheim.


            </p>
            </div>


        </div>
    </div>
</section>



<!-- ===============================
     Jonatan
================================= -->

<section class = "member">
    <div class="container py-5">

        <div class="row align-items-start">


            <!-- Left: Carousel of images -->
            <div class="col-md-6">
                <img src="{% static 'blyantApp/images/omOs/JonatanU.jpg' %}" alt="Jonatan" class="d-block w-100 rounded">
            </div>

            <!-- Right: Text -->
            <div class="col-md-6 mt-2">
            <h2>Jonatan Struve Lollike</h2>
            <p class="lead">
                Stilling: Over-under sekunder lieutenant admiral general<br>
                Specialitet: Russisk, low-key keyboard mester & Muskel<br><br>

                Skal du have løftet noget tungt, oversat noget fra russisk eller få en japansk accent smidt i hovedet så står Jonatan klar.
                Med charme, gode looks og endnu bedre filmanbefalinger er Jonatan altid væbnet om det så er til hverdagssludder eller dybe tanker der indgås. <br><br>

                Jonatan læser til sprogofficer på russisk.

            </p>
            </div>

        </div>
    </div>
</section>



<!-- ===============================
     Halfdan
================================= -->

<section class = "member">
    <div class="container py-5">

        <div class="row align-items-start">


            <!-- Left: Carousel of images -->
            <div class="col-md-6">
                <img src="{% static 'blyantApp/images/omOs/HalfdanU.jpg' %}" alt="Halfdan" class="d-block w-100 rounded">
            </div>


            <!-- Right: Text -->
            <div class="col-md-6 mt-2">
            <h2>Halfdan Elvis Fridal-Omeragic</h2>
            <p class="lead">
                
                Maaaaaan.... gider ikke skrive om mig selv. <br><br>

                Jeg læser på dtu til softwareinginør og har lavet den her hjemmeside.

            </p>
            </div>


        </div>
    </div>
</section>




{% endblock %}
